/*---------------
   Common Styles
 ----------------*/

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

button {
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: ease-in-out .5s;
    margin-top: 32px;
}

button:hover {
    font-size: 22px;
    background-color: rgba(79, 245, 70, 0.871);
    color: black;
}

.descriptions {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}

/*--------------
   Header Style 
 ---------------*/

header {
    height: auto;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 20px 35px 45px 35px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    color: #424242;
    font-weight: 600;
    font-size: 18px;
}

nav ul li {
    padding-left: 95px;
    cursor: pointer;
}

.company-name {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    cursor: pointer;
}

.header-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 80px auto 0 auto;
}

.header-h2 {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}



.header-img {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

/*----------------- 
   Section-1 Style 
  ----------------*/

.section-1 {
    display: flex;
    gap: 70px;
    margin: 85px 100px 130px 100px;
    align-items: center;
}

.section-1-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.section-1-title {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
}

.quick-list {
    color: #727272;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-weight: 700;
}

/*----------------- 
   Section-2 Style 
  ----------------*/

































/*--------------------
   Mobile Responsive
----------------------*/

@media screen and (max-width:576px) {

    /* ---Header Responsive--- */

    .header-h2 {
        font-size: 54px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        margin-top: 15px;
        padding: 0;
    }

    nav ul li {
        padding: 0;
    }

    .header-div {
        margin: 20px auto;
    }

    .header-img {
        margin-top: 20px;
    }

    /* ---------------------
       Section-1 Responsive
    ------------------------ */

    .section-1 {
        flex-direction: column;
        margin: 50px;
    }

    .section-1-images {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ---------------------
       Section-2 Responsive
    ------------------------ */








}